extends blocks/layout/admin

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each item in myArticles
          li.notes__list-item
            time.notes__item-time(datetime=`${item.created_date}`)= getHumanDate(item.created_date)
            a.notes__item-text(href=`/articles/edit/${item.id}`)= item.title
            button.notes__button.button.button--close-item(type="button")
              span.visually-hidden Закрыть строку списка

