header.header
  include ../logo/image-only

  button.button.button--colored.header__button-new Новая запись

  div.header__dropdown
    a.button.button--burger.header__burger(href="#") Открыть меню

    ul.navigation.header__navigation
      li.navigation__item
        a(href="/my") Публикации
      li.navigation__item
        a(href="/my/comments") Комментарии
      li.navigation__item
        a(href="/offers/edit/id123") "/offers/edit/id123" --- Страница для редактирования объявления
      li.navigation__item
        a(href="/search") "/search" --- Страница "Результаты поиска"

  include ../search
