header.header
  include ../logo/image-only

  nav.header__nav
    ul.header__nav-list
      if auth.status
        li.header__list-item
          p= `${auth.user.firstname} ${auth.user.lastname}`
        li.header__list-item
          a.header__exit(href="#") Выйти
      else
        li.header__list-item
          a.header__registration(href="/register") Регистрация
        li.header__list-item
          a.header__enter(href="/login") Вход с паролем
  if auth.status
    div.header__dropdown
      a.header__avatar.avatar.button.button--burger.header__burger
        img(src=`/img/${auth.user.avatar.regular}.png` alt="аватар пользователя")
      ul.navigation.header__navigation
        li.navigation__item
          a(href="/my") Публикации
        li.navigation__item
          a(href="/my/comments") Комментарии

  include ../search
